<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduler name:</strong>
  <%= @scheduler_type.scheduler_name %>
</p>

<%= link_to 'Edit', edit_scheduler_type_path(@scheduler_type) %> |
<%= link_to 'Back', scheduler_types_path %>
